bin/misc/compile.en.sh
bin/misc/compile.fr.sh
bin/misc/update.sh
config/*.conf
*.log
*.pyc
cnb/modAvailable/experimental
cnb/modAvailable/CNBMMMondaySuck.py*
cnb/modEnabled/CNBMMMondaySuck.py*
cnb/modAvailable/CNBMMTestAll.py*
cnb/modEnabled/CNBMMTestAll.py*
cnb/modAvailable/CNBMMPat.py*
cnb/modEnabled/CNBMMPat.py*
cnb/modAvailable/CNBMMVn.py*
cnb/modEnabled/CNBMMVn.py*
cnb/modAvailable/CNBMMTrivia.py*
cnb/modEnabled/CNBMMTrivia.py*
