bin/misc/compile.en.sh
bin/misc/compile.fr.sh
bin/misc/update.sh
config/*.conf
*.log
*.pyc
cnb/modAvailable/CNBMMMondaySuck.py*
cnb/modEnabled/CNBMMMondaySuck.py*
cnb/modAvailable/CNBMMTestAll.py*
cnb/modEnabled/CNBMMTestAll.py*
cnb/modAvailable/CNBMMEmail.py*
cnb/modEnabled/CNBMMEmail.py*
cnb/modAvailable/CNBMMAutoJoin.py*
cnb/modEnabled/CNBMMAutoJoin.py*
cnb/modAvailable/CNBMMpat.py*
cnb/modEnabled/CNBMMpat.py*
cnb/modAvailable/CNBMMvn.py*
cnb/modEnabled/CNBMMvn.py*
cnb/modAvailable/CNBMMSendFile.py*
cnb/modEnabled/CNBMMSendFile.py*
cnb/modAvailable/CNBMMTrivia.py*
cnb/modEnabled/CNBMMTrivia.py*
cnb/modAvailable/CNBMMUnmorse.py*
cnb/modEnabled/CNBMMUnmorse.py*
